/*Brian's CSS Style*/

.banner {
  width: 100%;
  height: 200px;
  display: table;
  text-align: center;
  background: #4168b3;
  color: white;
  font-size: 3em;
  font-family: sans-serif;
}

.vwclogo {
width: 100px;
height: 100px;
float: center;
margin-top: 30px;
margin-bottom: -30px;
}


/* Nate's CSS Style*/

html {
  font-size: 10px;
  width: 100%;
}
    
  @media screen and (min-width: 900px) {
    html {
      font-size: 12px;
    }
  }
    
  @media screen and (min-width: 1400px) {
    html {
      font-size: 14px;
    }
  }


.groupIntroContainer {
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.introText {
  font-size: 2em;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}


.containerParent {
  display: flex;
  flex-wrap: wrap;
  width:90%;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.containerChild {
  margin: 1em 1em;
  border: solid black .1em;
  width: 33em;
  min-width:28em;
  height: 45em;
  background-color: white;
  border-radius: 1em;
  word-wrap: break-word;
}

.name {
  font-size: 1.8em;
  padding-left: 0.5em;
  float: left;
  font-family: sans-serif;
}

.socialMedia {
  margin-left: 0.5em;
  float: right;
  padding-right: 1em;
  padding-top: 1em;
}

a {
  color: white;
}

img {
  height: 100%;
  vertical-align: middle;
}

.header {
  width: 100%;
}

.imageContainer {
  background-color: #ececf1;
  clear: both;
  height: 25em;
  width: 98%;
  margin-left:auto;
  margin-right: auto;
  vertical-align: middle;
  
}

.description {
  font-size: 1.7em;
  font-family: sans-serif;
  margin-left: .5em;
}

.iframeContainer {
  text-align: center;

}

iframe {
  display: inline-block;
  width: 100%;
  height: 50em;
}

.linkText {
  align-content: center;
}


/*Michael's CSS Style */

/* Color Gradient
 background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(65,104,179,1) 0%, #bbb 90% ); 
 */

/* Form Section */

#form {
  min-height: 64vh;
  background: #4168b3;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.form-title {
  text-align: center;
  color: white;
  margin: 0 0 40px 0;
  font-size: 4em;
  text-transform: uppercase;
}

#email {
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  font-size: 2.5em;
  margin: 10px 20px;
}

#email::placeholder {
  color: white;
  text-transform: capitalize;
}

#submit {
  display: inline-block;
  background: transparent;
  border: 3px solid white;
  padding: 10px 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin: 10px 20px;
  transition: color 2s ease, background 2s ease, border 2s ease;
}

#submit:hover {
  color: #4168b3;
  background: white;
  border-color: #4168b3;
  cursor: pointer;
  outline: none;
}

#submit:active {
  outline: none;
  color: white;
  background: #4168b3;
  border-color: white;
}

#form {
  display: flex;
  flex-wrap: wrap;
}

/* End Form Section */
